#restart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }
  
  #myDialog{
   
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
    background-color: #39f063;
    color: #000000;
    font-size:x-large;
  }
  #percentage {
      position: absolute;
      top: 25%;
      margin-left: 25%;
      background-color: #02e734;
      text-align: center;
      font-weight: bold;
      color: rgb(255, 255, 255);
      border: 40px solid rgb(124, 124, 124);
      border-radius: 8px;
      line-height: 20px;
    }
    
  .button {
      align-items: center;
      appearance: none;
      background-color: #fffefe;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #000000;
      cursor: pointer;
      display: inline-flex;
      font-weight: bold;
      font-family: "JetBrains Mono",monospace;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
    }
    
    .button:focus {
      box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .button:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .button:active {
      box-shadow: #D6D6E7 0 3px 7px inset;
      transform: translateY(2px);
    }


    
